{% extends 'base.html' %}
{% block title %} Id Namespaces {% endblock title %}
{% block body %}

    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-primary">
            <!--button type="button" class="close" data-dismiss="alert">&times;</button>-->
            {{ message }}
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>

    <div class="container my-5" >
      <form action="/idnamespace" method="POST">
        <div class="container my-3" method="GET" action="/idnamespace" ></div>
          <h3>Select Identity Namespaces </h3>
          {%for idnamespacetitle in idNamespaceList[0:]%}
            <div class="form-check">
                <input class="form-check-input" name="sourceIdNamespaceCheckBox"type="checkbox" value="{{idnamespacetitle}}" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                {{idnamespacetitle}}
                </label>
            </div>
          {%endfor%}
        </div>
        <div class="container my-3" >
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
    
   
{% endblock body %}