{% extends 'base.html' %}
{% block title %} Sandboxes {% endblock title %}
{% block body %}

    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-primary">
            <!--button type="button" class="close" data-dismiss="alert">&times;</button>-->
            <button type="button" class="btn-close" aria-label="Close"></button>
            {{ message }}
        </div>
      {% endfor %}
    </div>

    <div class="container my-5" >
      <form action="/fieldgroup" method="POST" id="fieldGroupForm">
        <div class="container my-3" method="GET" action="/fieldgroup" ></div>
          <h3>Select Field Groups </h3>
          <div class="form-check">
            <input class="form-check-input" name="sourceFieldGroupCheckBox" type="checkbox" value="select-all" id="select-all">
            <label class="form-check-label" for="select-all">
              Select All
            </label>
          </div>
          {% for fieldgrouptitle in fieldGroupList[0:] %}
            <div class="form-check">
                <input class="form-check-input" name="sourceFieldGroupCheckBox" type="checkbox" value="{{ fieldgrouptitle }}" id="{{ fieldgrouptitle }}-checkbox">
                <label class="form-check-label" for="{{ fieldgrouptitle }}-checkbox">
                  {{ fieldgrouptitle }}
                </label>
            </div>
          {% endfor %}
        </div>
        <div class="container my-3" >
          <button type="button" class="btn btn-dark" onclick="showConfirmation()">Submit</button>
        </div>
      </form>
    </div>

    <script>
      const selectAllCheckbox = document.getElementById('select-all');
      const checkboxes = document.querySelectorAll('input[name="sourceFieldGroupCheckBox"]');
      const form = document.getElementById('fieldGroupForm');

      selectAllCheckbox.addEventListener('click', () => {
        checkboxes.forEach((checkbox) => {
          checkbox.checked = selectAllCheckbox.checked;
        });
      });

      function showConfirmation() {
        const selectedCheckboxes = document.querySelectorAll('input[name="sourceFieldGroupCheckBox"]:checked');

        if (selectedCheckboxes.length === 0) {
          alert('Please select at least one field group.');
          return;
        }

        const confirmMessage = 'Once Field Groups are created, they cannot be deleted. Are you sure you want to move them?';

        if (confirm(confirmMessage)) {
          form.submit();
        }
      }
    </script>

{% endblock body %}
